@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,700&display=swap');
:root {
    --color-graybg: #252525;
    --color-lightgray: #696969;
}

* {
    padding: 0;
    border: 0;
    margin: 0;

}
/********* Sobre *****************/
body {
    background: var(--color-graybg);
    font-family: 'Merriweather', serif;
    
}
header {
    background-color: white;
    padding: 10px;                
}
header img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    border-radius: 50%;
    width: 150px;

    }
header div {
    text-align: left;
                  
}
header div a {
   color: var(--color-lightgray);
   font-size: 18px;
   line-height: 28px;
   padding-left: 150px;
   text-decoration: none;
   font-weight: bolder;      
}
header div a:hover {
   color: black;
   transition: 500ms;       
}


#about {
    text-align: center;
    color: white;
    padding-top: 30px;
}
#about img {
    border-radius: 50px;
    width: 500px;
}

#about h1 {
    font-size: 34px;
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 10px;
}
#about p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    margin-top: 3px;
}

#socialMedia {
    text-align: center;
    margin-top: 50px;
    
} 
#socialMedia a {
    font-size: 10px;
    line-height: 20px;
    text-decoration: none;
    color: white;
    margin: 5px;
    
}
#socialMedia a:hover {
    border-bottom: 1px solid;
}
#socialMedia img {
    width: 20px;
}
/********* Productos *****************/

#produc-tittle {
   color: white;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cards {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
}

.card_image-container img {
    width: 100%;
    border-radius: 50px 50px 0 0;   
         
}
.card {
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 50px; 
    border: 1px solid white;
}
.card_info {
    padding: 15px;
    color: white;
    text-align: center;
}
.card_info h1 {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px solid;
}
.card_info h2 {
    font-size: 12px;
    line-height: 22px;
    
}


