{% extends "layout.njk" %}

{% block content %}
<section id="error404">
    <img src="/404.png" alt="error404">
    <h1>Perdón! No fue posible ingresar en la pagina.</h1>
    <h2>Estamos trabajando para arreglar el problema.</h2>
</section>

{% endblock %}