{% extends "layout.html" %}

{% block content %}

       <section class="cards_servicios">          
            
            <div class="card_servicios">  
                <img src="https://www.cobroexpress.com.ar/assets/img/LOGO-NUEVO-COBRO-EXPRESS.svg" alt="logo_cobroexpress">
                <p> <b>Cobro Express</b> - Paga todo en impuestos y servicios, todas las tarjetas de crédito, todos los planes de ahorro, seguros, luz, agua, teléfono y municipalidades y más de 3000 empresas. Gana tiempo con El Portal y Cobro Express!</p>
            </div>      

            <div class="card_servicios">
                <img src="https://www.0800telefono.org/wp-content/uploads/2018/03/logo-megatone.jpg" alt="logo_Magatone">
                <p> <b>Red Megatone</b> - Ahora El Portal Gourmet también te acerca a red Megatone
                Comprá los electrodomésticos, tecnología, muebles, accesorios para jardín y más!
                Lo que necesitas o estás buscando, a los mejores precios, con descuentos especiales, con todas las tarjetas y en cuotas¡!
                El Portal Gourmet es punto de venta virtual de Red Megatone! Venta vía web, pero con beneficios adicionales 
                El Portal Gourmet,  Red Megatone más cerca de tu casa!</p>
             </div>   
       </section class="cards_servicios">

       {% endblock %}
       